
body {
    width: 768px;
    border: solid 5px seagreen;
    padding: 10px;
    margin: auto;
    margin-top: 10px;
    font-family: "Times New Roman", Times, serif;
}

div {
  margin-top: 30px;
}

h1 {
    color: darkorange;
    text-align: center;
}

h2 {
  margin-bottom: 2px;
  text-decoration: underline;
  text-align: center;
  background-color: coral;
}

p {
  margin-top: 0px;
}

a {
  font-family: "Arial", sans-serif;
}

a:hover {
  background-color: lavender;
}

.dot {
  width: 5px;
  height: 5px;
  background-color: black;
}

.left, .right {
    padding: 5px;
    margin: 5px;
}

.left {
    float: left;
    border: solid 2px red;
}

.right {
    float: right;
    border: solid 2px yellow;
    width: 500px;
}

#contact {

}

#options {
    width: 200px;
}

#banner {
    margin: auto;
    border: dashed 5px purple;
    overflow: hidden;
}


.comingsoon {
    color: red;
}

.inprogress {
  color: fuchsia;
  background-color: #e1dfe1;
}

tbody tr:nth-child(odd) {
  background-color: #e1dfe1;
}

tbody tr:nth-child(even) {
  background-color: #c6b3f0;
}

table {
  border: solid gray 2px;
  width: 100%;
}

ol,ul {
	list-style: none;
}

#menu {
	margin: 10px;
	font-family: sans-serif;
  overflow: hidden;
  padding: 0;
}

#menu li {
	display:block;
	float:left;
	margin-left:2px;
	border:1px solid #000;
  width: 19%;
}

#menu a {
	display:block;
	padding:3px;
	text-decoration:none;
	background-color:#fff;
	color: black;
}


#menu a:hover {
	background-color: coral;
}
