
body {
    width: 768px;
    border: solid 5px seagreen;
    padding: 10px;
    margin: auto;
    margin-top: 10px;
    font-family: "Times New Roman", Times, serif;
}

div {
  margin-top: 30px;
}

h1 {
    color: darkorange;
    text-align: center;
}

h2 {
  color: mediumblue;
  margin-bottom: 2px;
}

p {
  margin-top: 0px;
}

a {
  font-family: "Arial", sans-serif;
}

a:hover {
  background-color: purple;
}

.dot {
  width: 5px;
  height: 5px;
  background-color: black;
}

.left, .right {
    padding: 5px;
    margin: 5px;
}

.left {
    float: left;
    border: solid 2px red;
}

.right {
    float: right;
    border: solid 2px yellow;
    width: 500px;
}

#contact {

}

#options {
    width: 200px;
}

#banner {
    margin: auto;
    border: dashed 5px purple;
    overflow: hidden;
}


.comingsoon {
    color: red;
}

.inprogress {
  color: fuchsia;
  background-color: #e1dfe1;
}

tbody tr:nth-child(odd) {
  background-color: #e1dfe1;
}

tbody tr:nth-child(even) {
  background-color: #c6b3f0;
}

table {
  border: solid gray 2px;
  width: 100%;
}
